<!DOCTYPE html>

<html>
    <head>
    <title>Arbi's Personal Website</title>
    <link rel="stylesheet" href="/static/style.css">
    </head>

    <body> 
<div class="menu">
    <a href="/projects">Projects</a>
    <a href="/about">About Me</a>
</div>
       
<div class="intro-text">
    I do some cool stuff with code.
</div>

<div class="social-links">
<a href="mailto:arbisjanabazii@gmail.com">📧 Gmail</a>
 <a href="https://github.com/Arb1AB" target="_blank">💻 GitHub</a>
        <a href="https://www.facebook.com/" target="_blank">📘 Facebook</a>
        <a href="https://www.upwork.com/freelancers/~0102ad61aa08a05351" target="_blank">💼 Upwork</a>
        <a href="https://www.linkedin.com/in/arbisjan-abazi-5047a6382/" target="_blank">🔗 LinkedIn</a>
</body>


    </html>