<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Current projects I've done</h1>
    <ul>
        <li><a href="https://github.com/Arb1AB/DP_Final" target="_blank">DP_Final - My Final Thesis</a></li>
        <li><a href="https://github.com/Arb1AB/PythonP" target="_blank">PythonP - A simple calculator</a></li>
        <li><a href="https://github.com/Arb1AB/PMP_ZADA" target="_blank">PMP_ZADA - A simple project management app for exams</a></li>
    </ul>

    <a href="/">Back to Home</a>
</body>
</html>
